# donnees du challenge (744 Mo, redistribuees sous licence iSeg-2017)
iSeg-2017-Training/
iSeg-2017-Testing/

# sorties
cache/
runs/
export/
figures/

# archive de transfert vers Colab
iseg-colab.zip

# environnement
.venv/
__pycache__/
*.pyc
iseg-resultats.zip
